/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid red;
    font-family: Arial, sans-serif; 
} */

/* 
body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 20px;
} */

#form-container {
    margin-left: 150px;
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 30px;
    
}



.profile-form-container {
    width: 150%;
    
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    }

.profile-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="file"] {
    padding: 5px;
}

.profile-submit-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-submit-btn:hover {
    background-color: #1B1A1A;
}

.profile-pic-preview img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
  }
  