* {
    margin: 0;
    padding: 0;
    font-family: "Overused Grotesk", sans-serif;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html, body {
    width: 100%;
    height: 100%;
}

#hero-login {
    background-color: white;
    width: 100%;
    height: 100vh;
}

/* Main Container */
#main-login {
    width: 100%;
}

.center-login {
    margin-top: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

#header-login h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 1.25;
    font-size: 6.5vw;
    font-family: "Overused Grotesk Light", sans-serif;
}

#text-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Overused Grotesk Light", sans-serif;
}

#text-dot .text-p { 
    color: #D3C2F8;
    font-family: "Overused Grotesk Light", sans-serif;
}

#blocktext-header #header3 {
    margin-top: 40px;
    color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Overused Grotesk Light", sans-serif;
}

.bttns-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bttns-login #btn-cont {
    padding: 10px 30px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 50px;
    border: 1px solid black; /* Adjusted border property */
    border-radius: 8px;
    font-family: "Overused Grotesk Light", sans-serif;
    color: white;
    background: black;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bttns-login #btn-cont:hover {
    background-color: #E4DFF3;
    color: black;
    font-family: "Overused Grotesk", sans-serif;
}
