.login-text {
    font-family: "Quicksand";
}
* {
    margin: 0;
    padding: 0;
    font-family: "Overused Grotesk";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Main Container */
#main {
    width: 100%;
}

/* Hero Section */
#hero {
    color: black;
    background-color: white;
    width: 100%;
    height: 100vh;
}

/* Navigation Bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
}
#nav a {
    color: black;
    text-decoration: none;
    font-size: 35px;

}

#nav a .text-purple{
    color: #D3C2F8;
    
}


#nav p{
    font-size: 30px;
}


/* move the header elements to the left */
.center {
    /* background-color: red; */
    padding-left: 360px;
}

/* Header */
#header {
    margin-top: 90px;
}

#header h1{
    /* margin-left: 50px; */
    line-height: 1.5;
    font-size: 5.5vw;
    font-family: "Overused Grotesk Light";

}

#header .text-p{
    color: #D3C2F8;
    font-family: "Overused Grotesk Light";
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 100px;
}
#header .desc{
    color: #000000;
    font-family: "Overused Grotesk Light";
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 175px;
}

#blocktext {
    width: fit-content;
}


#blocktext #header2{
    margin-left: 110px;
}


.center button {
    padding: 10px 40px;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 50px;
    border: 1;
    border-radius: 8px;
    
    /* display: flex; */
    /* align-items: center; */
}

.bttns {
    /* background-color: blue; */
    margin-left: 25vh;
    
}


#btn-cont:hover {
    cursor: pointer;
}


#btn-cont {
    font-family: "Overused Grotesk Medium";
    color: black;
    background: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#btn-cont:hover {
    background-color: black;
    color: white;
    font-family: "Overused Grotesk Light" ;
    cursor: pointer;
}