html, body {
    width: 100%;
    height: 100%;
  }
  .sidebar{
    color:rgb(255, 255, 255); 
    display:flex;
    justify-content: left;
    margin: 0;
    padding:0;
    border:none;
    outline: none;
    position:relative;
    height: 100%;
    
  }
  #nav a .text-white{
    color: #ffffff;
    margin: 0;
    padding:0;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    
  
    /* width: 100px;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center; */
  
  
  }
  #nav a .text-purple{
    color: #D3C2F8;
    margin: 0;
    padding:0;
    font-size: 30px;
  
    align-items: center;
    justify-content: center;
  
    /* width: 100px;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center; */
  
    
  }
  
  
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color:blueviolet;
    padding: 10px;
  }
  .logo-icon{
    width: 40px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28,17,41,0.88);
  }