/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Overused Grotesk";
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html {
    scroll-behavior: smooth;
}

/* Main Container */
#main {
    width: 100%;
}

/* Hero Section */
#hero {
    color: black;
    background-color: white;
    width: 100%;
    height: 100vh;
}

/* move the header elements to the left */
.left {
    /* background-color: red; */
    padding-left: 60px;
}

/* Header */
#header {
    margin-top: 90px;
}

#header h1{
    /* margin-left: 50px; */
    line-height: 1.5;
    font-size: 6vw;
    font-family: "Overused Grotesk Light";
}

#header .text-purple{
    color: #D3C2F8;
    font-family: "Overused Grotesk Light";
}

#blocktext {
    width: fit-content;
}

#blocktext #header2{
    margin-left: 110px;
}

.left button {
    padding: 10px 40px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 50px;
    border: 1;
    border-radius: 8px;
}

.buttons {
    /* background-color: blue; */
    margin-left: 25vh;
}

#btn-sign-up {
    font-family: "Overused Grotesk Light";
    color: #fff;
    background: black;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn-log-in:hover {
    cursor: pointer;
}

#btn-log-in {
    font-family: "Overused Grotesk Medium";
    color: black;
    background: #E4DFF3;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn-log-in:hover {
    background-color: black;
    color: white;
    font-family: "Overused Grotesk Light" ;
    cursor: pointer;
}

#hero-footer {
    margin-bottom: 1rem;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

#hero-footer a {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    background-color: #E4DFF3;
    border-radius: 50%;
    width: 50px; /* Set the width of the background circle */
    height: 50px; /* Set the height of the background circle */
}

/* About Us Section */
#about-page {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f9;
}

#about-page h1 {
    font-family: "Overused Grotesk";
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 200px;
    text-align: center;
}

.person-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.caption {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

#about-us {
    height: 100vh;
}
