/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Overused Grotesk";
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html {
    scroll-behavior: smooth;
}

/* Main Container */
#main {
    width: 100%;
    /* display: flex;
    flex-direction: row; */
}

#homeSVG {
    position: absolute;
    top: 13%;
    left: 16%;
    width: 50%;
    height: 50%;
}

h1 {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    /* text-transform: uppercase; */
    overflow: hidden;
    position: relative;
}

.split-parent {
    overflow: hidden;
}

.split-child {
    display: inline-block;
}



/* Hero Section */
#hero {
    color: black;
    background-color: white;
    width: 100%;
    height: 100vh;
    /* max-width: 900px; */
    /* border: 2px solid red; */
}

#header2 {
    margin-top: -1.5rem;
}

/* move the header elements to the left */
.left {
    /* background-color: red; */
    margin-left: 3rem;
}

/* Header */
#header {
    margin-top: 3rem;
}

#header h1 {
    /* margin-left: 50px; */
    line-height: 1.5;
    font-size: 4.75rem;
    font-family: "Overused Grotesk Light";
}

#header .text-purple {
    color: #D3C2F8;
    font-family: "Overused Grotesk Light";
}

/* #blocktext {
    width: fit-content;
}

#blocktext #header2{
    margin-left: 110px;
} */

.left button {
    padding: 10px 40px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 8px;
}

.buttons {
    margin-top: -1rem;
    /* background-color: blue; */
    margin-left: 5rem;
    position: absolute;
    z-index: 1;

}

#btn-sign-up {
    font-family: "Overused Grotesk Light";
    color: #fff;
    background: black;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



#btn-log-in {
    font-family: "Overused Grotesk Medium";
    color: black;
    background: #E4DFF3;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn-log-in:hover {
    background-color: black;
    color: white;
    font-family: "Overused Grotesk Light";
    cursor: pointer;
    padding: 10px 41px;


}

#hero-footer {
    margin-bottom: 1rem;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#hero-footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    background-color: #E4DFF3;
    border-radius: 50%;
    width: 50px;
    /* Set the width of the background circle */
    height: 50px;
    /* Set the height of the background circle */
}